@model Moneybox.Client.Models.CashBox

<div class="row">
    <div class="col-lg-5 label-danger">
        @Html.DisplayNameFor(model => model.Money)
    </div>
    <div class="col-lg-7 label-danger">
        @Html.DisplayFor(model => model.Money)
    </div>
</div>
